<div class="row">
    <div class="col s4 offset-s4">
        <div class="center">
            <p class="title">This is embarrassing...</p>
            <i class="material-icons icon-style">sentiment_very_dissatisfied</i>
            <p class="light center">
                We couln't find the page that you're looking for
            </p>
            <a routerLink="" class="btn waves-effect waves-light btn-small">
                <i class="material-icons right">home</i>Take to the beginning</a>
        </div>
    </div>
</div>