.title {
    font-size: 25px;
    font-weight: bold;
}

.subtitle {
    font-size: 16px;
}

img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid gray;
}

.user-content {
    margin-top: 2rem;
}