{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "no-console": 2,
    "semi": [2, "always"],
    "quotes": ["error", "single"],
    "no-var": "error",
    "eqeqeq": "error",
    "no-unused-expressions": "error",
    "no-extra-boolean-cast": 1,
    "no-trailing-spaces": "warn",
    "no-multi-spaces": "error",
    "indent": ["warn", 4, { "SwitchCase": 1 }],
    "array-bracket-spacing": ["error", "never"],
    "object-curly-spacing": ["error", "always"],
    "key-spacing": ["error", { "afterColon": true }],
    "keyword-spacing": ["error", { "before": true, "after": true }],
    "max-len": ["warn", { "code": 120 }],
    "@typescript-eslint/no-inferrable-types": 1,
    "@typescript-eslint/no-explicit-any": 1,
    "@typescript-eslint/camelcase": ["warn", { "properties": "never", "ignoreDestructuring": true }]
  }
}
