<mat-toolbar color="primary">
    <button mat-icon-button (click)="openSidenav()">
        <mat-icon>menu</mat-icon>
    </button>
    <span class="menu-spacer"></span>
    <button mat-button routerLink="/movements">
        {{ 'MOVEMENTS.TITLE' | translate }}
    </button>
    <button mat-button routerLink="/categories">
        {{ 'CATEGORIES.TITLE' | translate }}
    </button>
    <button mat-button routerLink="/types">
        {{ 'TYPES.TITLE' | translate }}
    </button>
    <button mat-button [matMenuTriggerFor]="menu">
        {{ 'REPORTS.TITLE' | translate }}
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/reports">{{ 'CATEGORIES.TITLE' | translate }}</button>
    </mat-menu>
</mat-toolbar>