<mat-toolbar color="primary">
    <button mat-icon-button (click)="openSidenav()">
        <mat-icon>menu</mat-icon>
    </button>
    <span class="menu-spacer"></span>
    <ng-container *ngFor="let option of menuOptions">
        <ng-container *ngIf="!option?.options?.length; else menuOption">
            <button mat-button (click)="navigate(option)">
                {{ option?.title | translate }}
            </button>
        </ng-container>
        <ng-template #menuOption>
            <button mat-button [matMenuTriggerFor]="menu">
                {{ option?.title | translate }}
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <ng-container *ngFor="let subOption of option?.options">
                    <button mat-menu-item (click)="navigate(subOption)">
                        {{ subOption?.title | translate }}
                    </button>
                </ng-container>
            </mat-menu>
        </ng-template>
    </ng-container>
</mat-toolbar>
