<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper container">
            <a routerLink="" class="brand-logo">{{ title }}
                <i class="material-icons">home</i>
            </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <a routerLink="/movements" routerLinkActive="active">{{ 'MOVEMENTS.TITLE' | translate }}</a>
                </li>
                <li>
                    <a routerLink="/categories" routerLinkActive="active">{{ 'CATEGORIES.TITLE' | translate }}</a>
                </li>
                <li>
                    <a routerLink="/types" routerLinkActive="active">{{ 'TYPES.TITLE' | translate }}</a>
                </li>
                <li>
                    <a routerLink="/reports" routerLinkActive="active">{{ 'REPORTS.TITLE' | translate }}</a>
                </li>
            </ul>
        </div>
    </nav>
</div>