<div fxLayout="row wrap" fxLayout.lt-sm="column wrap" fxLayoutGap="15px">
    <mat-card *ngFor="let card of CARDS"
        fxFlex="0 1 calc(25% - 15px)"
        fxFlex.lt-md="0 1 calc(50% - 15px)"
        fxFlex.lt-sm="100%">
        <mat-card-header>
            <mat-card-title>{{ ('HOME.' + card?.name + '.TITLE') | translate }}</mat-card-title>
            <mat-card-subtitle>{{ ('HOME.' + card?.name + '.SUBTITLE') | translate }}</mat-card-subtitle>
        </mat-card-header>
        <mat-icon mat-card-image class="icon">{{ card?.icon }}</mat-icon>
    </mat-card>
</div>
