<div fxLayout="row wrap" fxLayoutAlign="space-between">
    <mat-card class="information-card">
        <mat-card-header>
            <mat-card-title>Create and manage your own categories</mat-card-title>
            <mat-card-subtitle>Organize</mat-card-subtitle>
        </mat-card-header>
        <mat-icon mat-card-image class="icon">assignment</mat-icon>
    </mat-card>

    <mat-card class="information-card">
        <mat-card-header>
            <mat-card-title>Save a registry for every money movement</mat-card-title>
            <mat-card-subtitle>Money</mat-card-subtitle>
        </mat-card-header>
        <mat-icon mat-card-image class="icon">attach_money</mat-icon>
    </mat-card>

    <mat-card class="information-card">
        <mat-card-header>
            <mat-card-title>Generate PDF and XLS reports with all the movements</mat-card-title>
            <mat-card-subtitle>Report</mat-card-subtitle>
        </mat-card-header>
        <mat-icon mat-card-image class="icon">picture_as_pdf</mat-icon>
    </mat-card>

    <mat-card class="information-card">
        <mat-card-header>
            <mat-card-title>Visualize charts with the summary of the movements</mat-card-title>
            <mat-card-subtitle>Chart</mat-card-subtitle>
        </mat-card-header>
        <mat-icon mat-card-image class="icon">pie_chart</mat-icon>
    </mat-card>
</div>
