<mat-sidenav-container (backdropClick)="close()">
    <mat-sidenav #sidenav (keydown.escape)="close()" disableClose>
        <mat-toolbar>
            <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-between">
                <button mat-icon-button (click)="close()"
                    [matTooltip]="'HOME.TITLE' | translate" routerLink="">
                    <mat-icon>home</mat-icon>
                </button>
                <button mat-icon-button (click)="close()"
                    [matTooltip]="'MY_PROFILE.TITLE' | translate" routerLink="/my-profile">
                    <mat-icon>person</mat-icon>
                </button>
            </div>
        </mat-toolbar>
        <ng-container *ngFor="let option of MENU_OPTIONS">
            <app-menu-item (close)="close()" [option]="option"></app-menu-item>
        </ng-container>
    </mat-sidenav>

    <mat-sidenav-content>
        <app-nav-bar (openMenu)="open()"></app-nav-bar>
        <div class="router-container">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
