<mat-sidenav-container (backdropClick)="close('backdrop')">
    <mat-sidenav #sidenav (keydown.escape)="close('escape')" disableClose>
        <mat-toolbar class="home-actions">
            <button mat-icon-button (click)="close()" routerLink="">
                <mat-icon>home</mat-icon>
            </button>
        </mat-toolbar>
        <ng-container  *ngFor="let option of MENU_OPTIONS">
            <app-menu-item (close)="close()" [option]="option"></app-menu-item>
        </ng-container>
    </mat-sidenav>

    <mat-sidenav-content>
        <app-nav-bar (openMenu)="open()"></app-nav-bar>
        <div class="router-container">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>