<mat-sidenav-container (backdropClick)="close('backdrop')">
    <mat-sidenav #sidenav (keydown.escape)="close('escape')" disableClose>
        <mat-toolbar class="home-actions">
            <button mat-icon-button (click)="close('toggle button')" routerLink="">
                <mat-icon>home</mat-icon>
            </button>
        </mat-toolbar>
    </mat-sidenav>

    <mat-sidenav-content>
        <app-nav-bar (openMenu)="open()"></app-nav-bar>
        <div class="router-container">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>