<div class="row">
    <div class="col s2">
        <mat-form-field>
            <mat-label>{{ 'FILTERS.BY_MONTH' | translate }}</mat-label>
            <mat-select [(value)]="monthsFilter" (selectionChange)="filterMovements()">
                <mat-option [value]="0">{{ 'GENERAL.ALL' | translate }}</mat-option>
                <mat-option *ngFor="let month of months" [value]="month?.id">
                    {{ month?.description | titlecase }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="col s2">
        <mat-form-field>
            <mat-label>{{ 'FILTERS.BY_YEAR' | translate }}</mat-label>
            <mat-select [(value)]="yearFilter" (selectionChange)="filterMovements()" [disabled]="!isValidMonth">
                <mat-option [value]="0">{{ 'GENERAL.ALL' | translate }}</mat-option>
                <mat-option *ngFor="let year of years" [value]="year?.id">
                    {{ year?.description }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="col s3 push-s5 right-align">
        <p class="right">
            {{ 'GENERAL.SHOWING' | translate }} <strong>{{ movements?.length }}</strong> {{ 'MOVEMENTS.TITLE' | translate | lowercase }}
        </p>
    </div>
</div>

<table class="bordered highlight">
    <thead>
        <tr>
            <th>{{ 'FIELDS.ID' | translate | uppercase }}</th>
            <th>{{ 'FIELDS.DATE' | translate | uppercase }}</th>
            <th>{{ 'FIELDS.TYPE' | translate | uppercase }}</th>
            <th>{{ 'FIELDS.VALUE' | translate | uppercase }}</th>
            <th>{{ 'FIELDS.OBSERVATIONS' | translate | uppercase }}</th>
            <th width="10%">{{ 'GENERAL.ACTIONS' | translate | uppercase }}</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let movement of movements">
            <td>{{ movement?.id }}</td>
            <td>{{ movement?.creationDate | date: 'dd/MM/yyyy h:mm a' }}</td>
            <td>{{ movement?.categoryDescription }}</td>
            <td>{{ movement?.value | currency }}</td>
            <td>{{ movement?.observations }}</td>
            <td>
                <a materialize="tooltip" data-tooltip="Generar PDF" class="pointer tooltipped">
                    <i class="material-icons">picture_as_pdf</i>
                </a>
                <a materialize="tooltip" data-tooltip="Ver detalle" class="pointer tooltipped">
                    <i class="material-icons">description</i>
                </a>
                <a materialize="tooltip" data-tooltip="Editar" class="pointer tooltipped"
                    [routerLink]="['/movements/edit', movement?.id]">
                    <i class="material-icons">edit</i>
                </a>
            </td>
        </tr>
    </tbody>
</table>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large waves-effect waves-light green" routerLink="/movements/create">
        <i class="material-icons">add</i>
    </a>
</div>