<div class="row">
    <div class="input-field col s2">
        <select materialize="material_select" [(ngModel)]="monthsFilter">
            <option value="" disabled selected>Choose your option</option>
            <option *ngFor="let month of months" [ngValue]="month?.id">{{ month?.description | titlecase }}</option>
        </select>
        <label>Filter by month</label>
    </div>
    <div class="col s3 push-s7">
        <p id="totalMovements" class="right">
            Showing <strong>{{ movements?.length }}</strong> movements
        </p>
    </div>
</div>

<table class="bordered highlight">
    <thead>
        <tr>
            <th>Id</th>
            <th>Fecha</th>
            <th>Tipo</th>
            <th>Valor</th>
            <th>Observaciones</th>
            <th width="10%">Acciones</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let movement of movements">
            <td>{{ movement?.id }}</td>
            <td>{{ movement?.creationDate | date: 'dd/MM/yyyy h:mm a' }}</td>
            <td>{{ movement?.categoryDescription }}</td>
            <td>{{ movement?.value | currency:'USD':true:'1.0' }}</td>
            <td>{{ movement?.observations }}</td>
            <td>
                <a materialize="tooltip" data-tooltip="Generar PDF" class="pointer tooltipped">
                    <i class="material-icons">picture_as_pdf</i>
                </a>
                <a materialize="tooltip" data-tooltip="Ver detalle" class="pointer tooltipped">
                    <i class="material-icons">description</i>
                </a>
                <a materialize="tooltip" data-tooltip="Editar" class="pointer tooltipped"
                    [routerLink]="['/movements/edit', movement?.id]">
                    <i class="material-icons">edit</i>
                </a>
            </td>
        </tr>
    </tbody>
</table>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large waves-effect waves-light green" routerLink="/movements/create">
        <i class="material-icons">add</i>
    </a>
</div>