<div fxLayout="row" fxLayoutAlign="center">
    <mat-form-field class="description">
        <input matInput [(ngModel)]="category.description"
            [placeholder]="'FIELDS.DESCRIPTION' | translate" autocomplete="off">
        <mat-icon matSuffix>text_fields</mat-icon>
    </mat-form-field>
</div>

<div fxLayout="row" fxLayoutAlign="space-between center" class="button-actions">
    <button mat-raised-button color="default" (click)="goBack()">
        {{ 'GENERAL.GO_BACK' | translate }}
        <mat-icon>arrow_back</mat-icon>
    </button>
    <button mat-raised-button color="primary" (click)="process()" [disabled]="!isValidData">
        {{ 'GENERAL.' + (isEdit ? 'EDIT' : 'NEW') | translate }}
        <mat-icon>send</mat-icon>
    </button>
</div>
