@import "~styles/colors";

.mat-card {
    border-radius: unset;
    box-shadow: none;
    padding: 10px;
    transition: 0.8s;

    .mat-icon {
        margin-right: 1rem;
        height: auto;
    }
}

.mat-card:active, .mat-card:focus, .mat-card:hover {
    box-shadow: inset 0 0 0 1px $info-color;
    color: $info-color;
}
